@model CMS.Areas.AreaManagment.Models.ModuleVM
@using CMS.Areas.FrameWork.Controllers

@{
    ViewBag.Title = "تعديل القطاع";
}


    <div class="panel panel-default" id="@Model.RelatedTarget">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i>
            تعديل القطاع
            <div class="panel-tools">
                <a class="btn btn-xs btn-link panel-collapse collapses " href="#">
                </a>
                @*<a class="btn btn-xs btn-link panel-refresh" href="#">
                        <i class="fa fa-refresh"></i>
                    </a>*@
                @*<a class="btn btn-xs btn-link panel-expand" href="#">
                        <i class="fa fa-resize-full"></i>
                    </a>*@

            </div>
        </div>
        <div class="panel-body">


            @using (Html.BeginForm("Edit", "Module", new { area = "AreaManagment" }, FormMethod.Post, null))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @if (Model.Module != null)
                    {
                    @Html.HiddenFor(model => model.Module.ModuleId)
                    }

                    <div class="form-group">
                        @Html.LabelFor(model => model.Module.ModuleName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Module.ModuleName,  new { @class = "form-control"  })
                            @Html.ValidationMessageFor(model => model.Module.ModuleName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Module.AreaName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Module.AreaName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Module.AreaName, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="تعديل" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("العودة لصفحة القطاعات", "Index", "Module", new { area = "AreaManagment" }, null)
            </div>


        </div>
    </div>
