@model CMS.Areas.AreaManagment.Models.ServiceVM
@using CMS.Areas.FrameWork.Controllers
@{
    ViewBag.Title = "تفاصيل الخدمة";
}


    <div class="panel panel-default" id="@Model.RelatedTarget">
        <div class="panel-heading">
            <i class="fa fa-external-link-square"></i>
            تفاصيل الخدمة
            <div class="panel-tools">
                <a class="btn btn-xs btn-link panel-collapse collapses " href="#">
                </a>
                @*<a class="btn btn-xs btn-link panel-refresh" href="#">
                        <i class="fa fa-refresh"></i>
                    </a>*@
                @*<a class="btn btn-xs btn-link panel-expand" href="#">
                        <i class="fa fa-resize-full"></i>
                    </a>*@

            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">

              
                <div class="form-group">
                    @Html.LabelFor(model => model.Service.ServiceName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Service.ServiceName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Service.UMModule.ModuleName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Service.UMModule.ModuleName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Service.ControllerName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.Service.ControllerName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>

            <div>
                @Html.ActionLink("العودة لصفحة الخدمات", "Index", "Service", new { area = "AreaManagment" }, null)
            </div>

</div>


        </div>
      