@model IEnumerable<AkhbarElyoum.Models.Editors>
    @{
        int count = 0;
        Layout = "../Shared/_LayoutInner.cshtml";
    }
    @section Meta{
        <title>فريق العمل الصحفي| بوابة أخبار اليوم الإلكترونية</title>
        <meta name="description" content="بوابة اخبار اليوم تقدم احدث واهم اخبار مصر على مدار اليوم مع تغطيات مصورة صور الاحداث وفيديوهات حصريه لها اولا باول كما نقدم اهم اخبار الرياضة والفن والاقتصاد والحوادث" />
        <meta name="keywords" content="بوابه اخبار اليوم الإلكترونية, جريدة, الكترونية, أخبار ,اخبار, مصر, اليوم السابع, المصرى اليوم, القاهرة اليوم, الاخبار,الحوادث, اقتصاد, رياضة,فيديوهات, @ViewBag.Title" />
        <meta property="og:title" content="فريق العمل الصحفي| بوابة أخبار اليوم الإلكترونية">
    }

    @section home{
        <style type="text/css">
            .showMore {
                background: rgba(252, 135, 82, 1);
                border-radius: 5px 5px 5px 5px;
                color: #FFFFFF;
                cursor: pointer;
                direction: rtl;
                display: block;
                height: 30px;
                margin: 10px auto;
                width: 100%;
            }
        </style>

        <script>
        var isenabled = true;
        var page = -1;
        if ($(".lastid:last").attr("idx")) {
            page = $(".lastid:last").attr("idx").toString();
        }
        else {
            $('.showMore').hide();
            $('.no-more-data').show();
        }
        var GetByLines = function () {
            page = $(".lastid:last").attr("idx").toString();
            if (page != -1) {
                $.ajax({
                    type: "GET",
                    url: '/Editors/GateEditorsPaging?LastID=' + page + '',
                    contentType: "html/text",
                    dataType: "html",
                    cache: false,
                    success: function (msg) {
                        //alert("success");
                        // get the index of the row for the fnDeleteRow
                        //appendToList(msg);
                        //pagenumber++;
                        var container = $("#NewsSectionPaging");
                        if (msg.trim() !== "") {
                            container.append(msg);
                        } else {
                            $('.showMore').hide();
                            $('.no-more-data').show();
                        }
                        var isenabled = true;
                    }
                });
            }
        }
        $(document).ready(function () {
            //console.log("Init complete.");
            // create a long list of items
            var container = $("#NewsSectionPaging");
            var pagenumber = 0;
            if ($(".lastid:last").attr("idx")) {
                page = $(".lastid:last").attr("idx").toString();
            }
            else {
                $('.showMore').hide();
                $('.no-more-data').show();
            }
            var appendToList = function (msg) {
                container.append(msg);
            }
            container.bind("infinite-scroll", function (args) {
                if ($(".lastid:last").attr("idx")) {
                    page = $(".lastid:last").attr("idx").toString();
                }
                else {
                    $('.showMore').hide();
                    $('.no-more-data').show();
                }
                if (page != -1) {
                    $.ajax({
                        type: "GET",
                        url: '/Editors/GateEditorsPaging?LastID=' + page + '',
                        contentType: "html/text",
                        dataType: "html",
                        cache: false,
                        success: function (msg) {
                            //alert("success");
                            // get the index of the row for the fnDeleteRow
                            if (msg.trim() !== "") {
                                container.append(msg);
                            } else {
                                $('.showMore').hide();
                                $('.no-more-data').show();
                            }
                            pagenumber++;
                            isenabled = true;
                        }
                    });
                }
            });
        });
        </script>



        <section class="module">
            <div class="container">
                <div class="">

                    <div class="col-md-8">

                        @foreach (var item in Model)
                        {
                            if (count == 0)
                            {
                                <h2 class="HomeSecTitle">فريق العمل الصحفي</h2>
                            }
                            if (count == 0)
                            {
                                <div class="entry-block-full">
                                    <div class="image-full">
                                        <a href="/Editors/EditorNews/@item.EditorID/1/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.EditorName))" title="@item.EditorName">
                                            <img src="https://Images.akhbarelyom.com/images/images/AdminUser/@item.picture" alt="@item.EditorName" />
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div class="title-left title-style04 underline04">
                                            <h3><a href="/Editors/EditorNews/@item.EditorID/1/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.EditorName))" title="@item.EditorName">@item.EditorName</a></h3>
                                        </div>
                                    </div>
                                </div>

                            }
                            if (count == 1)
                            {
                                ViewContext.Writer.Write("<div class=\"article\"  id=\"NewsSectionPaging\"  >");
                                count++;
                            }

                            if (count > 1)
                            {

                                <div class="entry-block-small">
                                    <div class="entry-image">
                                        <a class="img-link" href="/Editors/EditorNews/@item.EditorID/1/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.EditorName))" title="@item.EditorName">
                                            <img class="img-responsive img-full" src="https://Images.akhbarelyom.com/images/images/AdminUsers/@item.picture" alt="@item.EditorName" />
                                        </a>
                                    </div>
                                    <div class="entry-content">
                                        <h4><a href="/Editors/EditorNews/@item.EditorID/1/@(AkhbarElyoum.Controllers.HomeController.GetPureURL(item.EditorName))" title="@item.EditorName"> @item.EditorName</a></h4>
                                    </div>
                                </div>

                                if (count == Model.Count())
                                {

                                    <p class="lastid" idx="@item.DisplayOrder">
                                    </p>
                                    ViewContext.Writer.Write("</div>");
                                }

                            }

                            count++;

                        }


                        @if (Model.Count() > 0)
                        {

                            <div class="no-more-data" style="display: none;">
                                <p>
                                    لا يوجد المزيد من البيانات.
                                </p>
                            </div>

                            <div class="more-btn" style="width:100%;float:right;">
                                <input name="" id="" onclick="GetByLines();" class="btn btn-default" type="submit" value="اقرأ المزيد" />
                                <div class="ByLineID" style="display: none;">فريق العمل الصحفي</div>
                            </div>
                        }
                    </div>

                    @Html.Action("GetSiteLeftSideServicesInner", "Home", new { JournalID = 1 })


                </div>
            </div>
        </section>
    }